@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {

  --color-bg-error-100: #FFD8D8;

  --color-codepanel-bg: #f2f4f6;
  --color-codepanel-text: #232629;

  --color-bg-base-100: #f3f6f8;
  --color-bg-base-200: #e8eaed;
  --color-bg-base-300: #e1e3e5;

  --color-text-base-100: #232629;
  --color-text-error-100: #ED3A3A;

  --color-text-muted-100: #838689;

  --border-radius-control: 6px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 1em;
  color: var(--color-text-base-100);
}

.button-base {
  font-size: 1em;
  line-height: 1;
  outline: none;
  box-shadow: none;
  padding: .5em 1em;
  border: none;
  background: var(--color-bg-base-100);
  border-radius: var(--border-radius-control);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button-base:hover {
  background: var(--color-bg-base-200);
}

.button-base:active {
  background: var(--color-bg-base-300);
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: .75rem;
}

.object-propery {
  padding: 0;
  margin: 0;
  color: var(--color-text-muted-100);
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.checkbox-group input[type="checkbox"].checkbox-group-input-element {
  margin: 0;
}

.error-alert {
  padding: .5rem;
  background-color: var(--color-bg-error-100);
  border-radius: var(--border-radius-control);
  color: var(--color-text-error-100);
  margin-bottom: .5rem;
}

/* Code panel */

.code {
  margin-top: .5rem;
  background-color: var(--color-codepanel-bg);
  color: var(--color-codepanel-text);
  border-radius: var(--border-radius-control);
  padding: .5rem;
  overflow: auto;
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.code code pre {
  font-family: 'Roboto Mono';
}

pre {
  margin: 0;
  padding: 0;
}

/* Tabs */
.tabs {
  display: flex;
  gap: .25rem;
}

.tabs .tab {
  padding: .25rem .5rem;
  background-color: var(--color-bg-base-200);
  cursor: pointer;
  border-radius: var(--border-radius-control);
}

.tabs .tab:hover {
  background-color: var(--color-bg-base-300);
}

.tabs .tab.tab--active {
  background-color: transparent;
}
